:root{
    --prim-color: #102A42;
    --sec-color: #49A6E9;
    --letter-spacing: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --light-bg-color: #F1F5F8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: var(--light-bg-color);
    color: var(--prim-color);
}

h1, h2, h3, h4{
    letter-spacing: var(--letter-spacing);
}

.container{
    display: flex;
    width: 70%;
    height: 100vh;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    outline: none;
}

/*TITLE*/

.title{
    display: block;
    margin-bottom: 5rem;
}

.title h2{
    font-size: 2rem;
}

.title hr{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5rem;
    margin-top: 1rem;
    height: 0.3rem;
    background-color: var(--sec-color);
    border: none;
}

/*TITLE*/

/*REVIEW*/

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    max-width: 40rem;
    width: 100%;
    text-align: center;
    box-shadow: var(--light-shadow);
    background-color: white;
    border-radius: 1rem;
}

.img-container{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.profile-picture {
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

.img-container::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--sec-color);
    position: absolute;
    top: -0.25rem;
    right: -0.5rem;
    border-radius: 50%;
}

.img-container::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: open-quote;
    position: absolute;
    top: 10px;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: var(--sec-color);
    color: white;
    font-size: 3rem;
}

.name{
    margin-bottom: 0.25rem;
}

.job{
    margin-bottom: 0.25rem;
    text-transform: uppercase;
    color: var(--sec-color);
    font-size: 0.9rem;
}

.review{
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.prev-next-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 4rem;
    margin-bottom: 1rem;
}

.btn-right, .btn-left{
    border: none;
    color: #49a6e971;
    font-weight: 100;
    cursor: pointer;
    background-color: white;
}

.btn-random{
    border-color: var(--sec-color);
    border-radius: 8px;
    padding: 4px 6px;
    background-color: white;
    color: var(--sec-color);
    cursor: pointer;
}

.btn-left:hover, .btn-right:hover{
    color: var(--sec-color);
    transition: all 0.5s ease;
}

.btn-random:hover{
    background-color: var(--sec-color);
    color: var(--prim-color);
    transition: all 0.5s ease;
}

/*REVIEW*/